@charset "UTF-8";

.question {
    margin-top: 30px;
    margin-bottom: 80px;
}

.question h1 {
    text-align: center;
    font-size: 35px;
}

.question dl {
    width: 990px;
    margin: 50px auto;
    border-top: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
}

.question dl dt {
    float: left;
    padding: 1em;
    color: #998484;
}

.question dl dd {
    border-bottom: 1px solid #cccccc;
    margin: 0;
    padding: 1em 0 1em 18em;
}

.question dl dt .must {
    color: #d23939;
}

input[type="email"] {
    width: 50%;
}

input {
    font-size: 1em;
    padding: 5px;
}

p.submit {
    text-align: center;
}

input[type="submit"] {
    padding: 20px 100px;
    background: #d36868;
    color: #fff;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

input[type="submit"]:hover {
    opacity: 0.8;
}